.LoginRegisterForm{
    background-color: white;
    max-width: 350px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    input[type="text"]{
        width: 100%;
    }
}
.box{
    background-color: white;
    max-width: 350px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    a{
        color: blue;

    }
}