$background-images: (
    "index": url("../img/dogHero.jpg"),
    "food": url("../img/istockphoto-1253685765-612x612.jpg"),
    "acc": url("../img/pexels-karl-byron-568836130-29547466.jpg"),
    "services": url("../img/vet with labrador dog.jpg"),
);