.ad {
    background-color: $secondary-bg;
    &_Slider {  
        &Img {
            background-position: center;
            background-size: cover;
            border: 1px solid white;
            aspect-ratio: 1/1;
            &--active {
                max-height: rem(500);
            }
        } 
        &Other {
            overflow: visible !important;
            @include flex();
            &Img {
                background-position: center;
                background-size: cover;
                border: 1px solid white;
                aspect-ratio: 1/1;
            }
        }
    }
    &_info{
        position: relative;
        .fa-chevron-right{
            font-size: 1.2rem;
        }

        &_price{
            color: $primary-color;
            font-size: 1.3rem;
            font-weight: bold;
            border: rem(2) dashed $primary-color;
            width: auto;
            padding: 0 rem(10);
            border-radius: $border-radius-normal;
        }
        &_user{
            background-color: rgba(yellow,0.4);
            border-radius: $border-radius-normal;
            &_img{
                @include circleImg(40);
            }
        }
    }
}
#ads_phone {
    display: none;
}