@mixin bgFilter($color, $opacity) {
    position: absolute;
    display: block;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    content: "";
    background-color: $color;
    opacity: $opacity;
}

