@mixin flex($jc: center, $ai: center, $fd: row){
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    flex-direction: $fd;
    
}

@mixin top-left-position($top: 0, $left: 0){
    top: $top;
    left: $left;
}