.createPostBorder{
    max-width: rem(800);
    margin: auto;
    background-color: white;
    width: 100%;
    box-shadow: 0 0 rem(20) -15px;
}
#createAds__showingType{
    display: none;
}
#set_price{
 display: none;
}


.highlightAds_window{
    position: fixed;
    top: rem(100);
    right: rem(10);
    z-index: 10;
    width: rem(400);
    border-radius: $border-radius-normal;
    tr{
        border-bottom: rem(1) solid rgba(255, 255, 255, 0.273);
        td{
            padding: rem(4);    
        }
        &:hover{
            background-color: rgba(255, 255, 255, 0.045);
        }
        
    }
    &_mail{
        height: rem(40);
        position: relative;
        cursor: pointer;
        color: $Black-Collor-For-Text;
        
        &_icon{
            background-color: $secondary-color;
            width: rem(40);
            height: rem(40);
        }
    }

    @media (max-width:1300px) {
        position: relative;
        top: rem(0);
        width: 100%;
        right: 0;
    }
}
