@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import './partials/functions/index';
@import './partials/variables/index';
@import './partials/mixin/';
@import './partials/animations/index';
@import './partials/globalSetings/index';
@import './partials/loaders/index';
@import './partials/text/index';
@import './partials/buttons/index';
@import './partials/images/index';
@import './partials/nav/index';
@import './partials/forms/index';
@import './partials/cards/index';
@import'./partials/footer/index';
@import './partials/auth/index';
@import './partials/auth/index';
@import './partials/hero/index';
@import './partials/pages/index';
@import './partials/popup/index';
@import './partials/pages/index';
// Dashboard imports
@import './partials/dashboard/index';