.premiumCard {
    height: rem(200);
    width: 100%;
    position: relative;
    border-radius: $border-radius-normal;
    overflow: hidden;

    &_img {
        height: 100%;
        background-position:center;
        background-size: cover;
        border-radius: $border-radius-normal;
    }

    &_title {
      position: absolute;
      padding: 0 rem(5);
      top: rem(10);
      left: rem(45);
      width: fit-content;
      max-width: 60%;
      height: rem(40);
      background: rgba($primary-color, 0.6); 
      backdrop-filter: blur(rem(2));  
      border-radius: $border-radius-normal;
      z-index: 4;
      color: $white-text;
    }
    &_cityAndPrice{
      position: absolute;
      padding: 0 rem(10);
      bottom:rem(2);
      z-index: 4;
      p{
        margin: 0;
      }
      
    }

    &_info {  
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: rem(40) rem(40);
        background-color: transparent;
        transform: translateX(-100%);
        transition: transform 0.3s ease, opacity 0.3s ease;
        opacity: 0;
        z-index: 2;
        color: $white-text;
        border-radius: $border-radius-normal;
       .fa-chevron-right{
        font-size: 0.8rem;
       }
        i {
            margin-right: rem(6);
            color: $white-text;
        }
    }

    &_overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(black, 0.35);// rgba($primary-color, 0.6)
        backdrop-filter: blur(rem(4));     
        z-index: 1;
        transition: opacity 0.2s ease;
        opacity: 0;
        border-radius: $border-radius-normal;
      }

      &_ribbon{
        position: absolute;
        top: rem(10);
        left: rem(-37);
        z-index: 2;
        background: $red-text;
        color: $white-text;
        text-transform: uppercase;
        font-weight: bold;
        font-size: rem(12);
        padding: rem(3) rem(32);
        transform: rotate(-45deg);
        box-shadow: 0 rem(2) rem(4) rgba(0,0,0,0.3);
      }

      &:hover &_overlay {
        opacity: 1;
      }

      &:hover &_title {
        background-color: transparent;
        backdrop-filter: blur(0); 
      }

      &:hover &_info {
        opacity: 1;
        transform: translateY(0);
      }
}
