.main-title {
    color: $secondary-text;
    margin-top: rem(50);
}

.main-lead {
    color: $primary-text;
    font-size: 1.2rem;
}

.main-subtitle {
    color: $secondary-text;
}

.main-lead {
    color: $primary-text;
}