.btnPrimary {
    background-color: $primary-color-lighter;
    color: white;
    &:hover{
        background-color: $primary-color-lighter-20;
        color: white;
    }
}

.btnSecondary {
    background-color: $secondary-color;
    color: rgba(0, 0, 0, 0.656) !important;
    &:hover{
        background-color: $secondary-color-lighter-5 ;
    }
}

.btnWhite {
    background-color: $secondary-bg;
    color: rgba(0, 0, 0, 0.656) !important;
    &:hover{
        background-color: $primary-bg;
    }
}
.btnUnderline{
    cursor: pointer;
    &:hover{
        text-decoration: underline;
    }
}

.btnWarning {
    background-color: $warning-color;
    color: white;
    &:hover{
        background-color: $warning-color-lighter;
        color: white;
    }
}

.nav_btn--profile {
    width:40px;
    height: 40px;
    background-color: $primary-color;
    border-radius: 50%;
}

#hero__create-post__btn{
    background-color: $secondary-color !important;
}

#btnShowNumber{
    height: rem(35);
    width: rem(170);
    border-radius: rem(4);
}

// Like Button
.like_button{
    width: fit-content;
    background: transparent;
    font-size: rem(30);
}

// Login Button
.nav_btn--login {
    margin: 0 rem(10);
    padding: rem(6) rem(12);
    background: $secondary-bg;
    text-align: center;
    border-radius: $border-radius-btn;
    position: relative;

    &:hover {
        &::after,
    &::before {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      background-image: conic-gradient(
        from var(--angle),
        primary-color-lighter,
        $primary-color-lighter
      );
      top: 50%;
      left: 50%;
      translate: -50% -50%;
      z-index: -1;
      padding: rem(20) rem(47);
      border-radius: $border-radius-btn;
      animation: spin 0.6s cubic-bezier(0.66, 0.33, 0.66, 0.33) forwards;
    }

    &::before {
      filter: blur(1.5rem);
      opacity: 0.5;
    }
    }
}

.btn_editAd{
    &Btn{
        cursor: pointer;
        z-index: 1000;
        position: absolute;
        padding: rem(6);
        background-color: rgba(255, 255, 255, 0.949);
        right: rem(-10);
        top:rem(2);
        overflow: visible;
        &:hover{
            background-color: $primary-bg;
        }
    }
    &DropDown{
        display: none;
        position: absolute;
        right: 0;
        top: rem(20);
        background-color: white;
        border: rem(1) solid gray;
        border-radius: rem(10);
        width: rem(150);
        padding: 0;
        pointer-events: none;

    &Link {
        display: block;
        padding: rem(13);
        background-color: white;
        border-radius: rem(10);
        text-decoration: none;
        &:hover{
            background-color:rgba($primary-color-lighter, 0.08);
        }
    }
    }
    &DropDown.show{
        display: block;
        z-index: 100;
        pointer-events: auto;

    }
}

.btnCross {
    position: absolute;
    top: rem(5);
    right: rem(5);
    background-color: $warning-color;
    color: $white-text;
    border: none;
    border-radius: 50%;
    width: rem(34);
    height: rem(34);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 10;
    padding: 0;

    &:hover {
        background-color: darkred;
    }

    .btnCross-icon {
        font-size: $font-size-biggest;
        line-height: 1;
        pointer-events: none;
        user-select: none;
    }
}