.profile-container {
    position: relative;
    display: inline-block;
    padding: 0 rem(18);

    .profile-icon {
        @include circleImg(40);
        cursor: pointer;
    }

    .dropdown-menu {
        display: none;
        position: absolute;
        right: rem(-30);
        top: rem(50);
        background-color: white;
        border: 1px solid $border-color-button;
        border-radius: 5px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        width: rem(200);
        padding: 0;
        &Link {
            display: block;
            padding: rem(13);
            text-decoration: none;
            &:hover{
                background-color:rgba($primary-color-lighter, 0.08);
            }
        }
        &Text {
            display: block;
            padding: rem(13);
            text-decoration: none;
        }
    }
}
