// Slick carosel modification
.slick-prev, .slick-next {
    position: absolute !important;
    transform: translateY(-50%) !important;
    z-index: 10 !important;
    border: none !important;
    border-radius: 50% !important;
    cursor: pointer !important;
    text-align: center;
    &::before{
        font-size: rem(30) !important;
        color: $white-text !important;
    }
}

.slick-prev {
    left: rem(10) !important; //10
}

.slick-next {
    right: rem(20) !important; //10
}

// Dots under slider
.slick-dots {
    bottom: rem(-17) !important;
   li {
    button {
      &::before {
        font-size: rem(20) !important;
        color: $slick-dot-color !important;
        opacity: 0.5 !important;
      }
    }

    &.slick-active {
      button::before {
        color: $primary-color-lighter-5 !important;
        opacity: 1 !important;
      }
    }
  }
}

.slick-dotted.slick-slider {
    margin: 0 !important;
    padding: 0 !important;
}

.slic-slider {
    margin: 0 !important;
}