.profileInformation{           
    padding:rem(20) rem(20) rem(20) rem(350);
    min-height: 100vh;
    &_profileImg{
        border-radius: 50%;
        @include circleImg(170);
       // border:5px solid $primary-color;
        i{
            font-size: 5rem;
            color:$primary-color;
            
        }
        

    }
    &_name{
            font-size:2rem;
            margin-bottom: 0;
    }
    &_table {
        tr{
            border-bottom: 1px dotted lightgray;
            &:hover{
                background-color: rgba($primary-bg,0.5);
            }
        }
    }
}
.editPencil_btn{
    border-radius: 50%;
    background-color: rgba(255, 0, 0, 0.264);
    padding: 7px;
    font-size: 1rem;
}
.updateImage_img{
    aspect-ratio: 1/1;
    border-radius: $border-radius-normal;
    background-position: center;
    background-size: cover;
}
@media screen and (max-width:767px){                    //promena paddinga za page zbog nestanka sidebara na manjoj rezoluciji
    .profileInformation{
        padding:rem(20) rem(20) rem(20) rem(40);
    }
}