.landingService_img{
    width: rem(220);
}

.landings_img{
        position: relative;
        background-position:center;
        background-size: cover;
        overflow: hidden;
}

.landing-image{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: rem(572);
    min-height: 200px;

    @media (min-width: 768px) {
        height: 100%;
        min-height: 300px;
    }
}