.banner {
    &_hero {
        &Img {
            height: rem(500);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            border-radius: $border-radius-normal;
            box-shadow: $shadow;
        }
    }

    &_sidebar {
        height: rem(600);
        &Img {
            width: 100%;
            height: rem(600);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            border-radius: $border-radius-normal;
            box-shadow: $shadow;
        }
    }

    &_content {
        width: 100%;
        &Img {
            width: 100%;
            height: rem(200);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            border-radius: $border-radius-normal;
            box-shadow: $shadow;
        }
    }
    
}