
.settings_sideBar{  //varijable koje pocinju sa sideBar.. se nalaza u scss/partials/variables/_settingsSideBarVAriables.scss 
    width: $sideBar-width;
    height: 100%;
    position: absolute;
    z-index: 200;
    left: 0%;
    transition: 0.2s;
    background-color: $primary-color-lighter-5;
    color: white;
    border-right: rem(2) solid $sideBar-borderColor ;
    a{
        color: white;
    }
    &_header{
        width: 100%;
        height: 100px;
        border-bottom: rem(2) solid $sideBar-borderColor;
        &_name{
            padding: rem(15);
            border-radius: rem(5);
            &:hover{
                background-color:rgba(255, 255, 255, 0.097) ;
            }
        }
    }
    &_list{
        &_item{
            padding: rem(15);
            border-radius: rem(5);
            &:hover{
                background-color:rgba(255, 255, 255, 0.097) ;//rgba($primary-color,0.1)
            }
        }
    }
    .active{
        background-color:rgba(255, 255, 255, 0.097) ;
    }
    
}
.settings_sideBar.active{     //active klase su primenjene kada se klikne toggle dugme za prikaz sidebara
    transform: translateX(0%);
}
#toogle_sideBar_btn{
    @include fixed(50%,rem(3));
    background-color: white;
    color: $sideBar-borderColor ;
    border: rem(2) solid $sideBar-borderColor ;
    z-index: 300;
    width: $sideBar-toggleBtn-size;
    height: $sideBar-toggleBtn-size;
    border-radius:50%;
    transition: 0.2s;
}
#toogle_sideBar_btn.active{  //active klase su primenjene kada se klikne toggle dugme za prikaz sidebara
    transform: translateX($sidebar-moving-response) rotate(180deg);
    
}
@media screen and (max-width:767px){
    .settings_sideBar{
        transform: translateX(-$sidebar-moving-response);
        position: fixed;
    }
 }