@use '../functions/index' as *;
@use '../variables/index' as *;
@use '../mixin/index' as *;
.form-control{
    &:focus{
        border-color:$primary-color-lighter-20;
        box-shadow: 0 0 0 0.25rem rgba($primary-color-lighter-20,0.25);
    }
}
.form-select{
    &:focus{
        border-color:$primary-color-lighter-20;
        box-shadow: 0 0 0 0.25rem rgba($primary-color-lighter-20,0.25);
    }
}
.form-check-input:checked {
    background-color: $primary-color-lighter-20;  
    border-color: $primary-color-lighter-20;      
}
.form-check-input:focus {
    box-shadow: none;
    border-color: $primary-color-lighter-20;
}

.pagination{
    --bs-pagination-color: #{$plum-700} !important;
    --bs-pagination-bg: #{$secondary-bg};
    --bs-pagination-border-color: #{rgba($plum-700, 0.25)};
    --bs-pagination-active-bg: #{$plum-700} !important;
    --bs-pagination-active-color: #{$white-text} !important;
    --bs-pagination-hover-color: #{$plum-700} !important;
    --bs-pagination-hover-bg: #{rgba($plum-700, 0.12)};
    --bs-pagination-hover-border-color: #{$plum-700};
    --bs-pagination-focus-box-shadow:none !important;
    --bs-pagination-active-border-color: #{$plum-700} !important;
    --bs-pagination-focus-color: #{$plum-700} !important;

    .page-item {
        .page-link {
            color: $plum-700;
            border-color: rgba($plum-700, 0.25);
        }

        &.active .page-link {
            border-color: $plum-700;
            color: $white-text;
        }

        &.disabled .page-link {
            color: rgba($plum-700, 0.45);
        }
    }
}